beautifulsoup4==4.8.2
bert-serving-client==1.10.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
configparser==4.0.2
Flask==1.1.1
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.14.1
line-bot-sdk==1.14.0
MarkupSafe==1.1.1
mysql-connector==2.2.9
numpy==1.18.1
OpenCC==0.2
pkg-resources==0.0.0
pyzmq==18.1.1
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
sklearn==0.0
soupsieve==1.9.5
urllib3==1.25.6
Werkzeug==0.16.0
